# syntax: http://git-scm.com/docs/gitignore

########################################
# Environment
.idea
.DS_Store
npm-debug.log

########################################
# Project
/server
########################################
