.mod-Accordion {
	@dev-border: 2px solid WindowFrame;
	border-bottom: @dev-border;
	.bd-state-open() {
		height: auto;
		border-top: @dev-border;
	}
	.bd-state-closed() {
		height: 0;
		border: none;
	}

	.hd { // h3 element
		margin: 0;
		border-top: @dev-border;
		a {
			display: block;
			padding: 1em;
		}
	}

	.bd {
		overflow: hidden;
	}

	// all sections are visually closed by default but still there for screen readers, etc...
	// this is dictated by the use of :target and the URL hash for .no-js use. there can only be one active target.
	// to set a section to the open state add the .state-open class on the .section-accordion element
	@media screen {

		// No JS support (accessibility)
		.no-js & {
			// state icon: not needed
			.hd a[href]:before {
				content: normal;
			}
			// using :not to override .state-open
			.bd:not(:target) {
				.bd-state-closed();
			}
			.bd:target {
				.bd-state-open();
			}
		}

		// JS supported
		.hd a:before { // state icon: closed
			content: '▲';
			float: right;
			font-size: 2rem;
		}
		.bd {
			.bd-state-closed();
		}
		.state-open {
			.hd {
				a:before { // state icon: open
					content: '▼';
				}
			}
			.bd {
				.bd-state-open();
			}
		}
	}

	//@media print {}
}


